<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NetBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe1</display-name>
    <servlet-name>CustomerAddServe1</servlet-name>
    <servlet-class>master1.servlet.CustomerAddServe1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe1</servlet-name>
    <url-pattern>/CustomerAddServe1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer1</display-name>
    <servlet-name>DeleteCustomer1</servlet-name>
    <servlet-class>master1.servlet.DeleteCustomer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer1</servlet-name>
    <url-pattern>/DeleteCustomer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomer1</display-name>
    <servlet-name>UpdateCustomer1</servlet-name>
    <servlet-class>master1.servlet.UpdateCustomer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer1</servlet-name>
    <url-pattern>/UpdateCustomer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetails1</display-name>
    <servlet-name>AccountDetails1</servlet-name>
    <servlet-class>master1.servlet.AccountDetails1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetails1</servlet-name>
    <url-pattern>/AccountDetails1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount1</display-name>
    <servlet-name>DeleteAccount1</servlet-name>
    <servlet-class>master1.servlet.DeleteAccount1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount1</servlet-name>
    <url-pattern>/DeleteAccount1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccount1</display-name>
    <servlet-name>UpdateAccount1</servlet-name>
    <servlet-class>master1.servlet.UpdateAccount1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccount1</servlet-name>
    <url-pattern>/UpdateAccount1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferServe1</display-name>
    <servlet-name>FundTransferServe1</servlet-name>
    <servlet-class>master1.servlet.FundTransferServe1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferServe1</servlet-name>
    <url-pattern>/FundTransferServe1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdServe1</display-name>
    <servlet-name>FdServe1</servlet-name>
    <servlet-class>master1.servlet.FdServe1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdServe1</servlet-name>
    <url-pattern>/FdServe1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RdServe1</display-name>
    <servlet-name>RdServe1</servlet-name>
    <servlet-class>master1.servlet.RdServe1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RdServe1</servlet-name>
    <url-pattern>/RdServe1</url-pattern>
  </servlet-mapping>
</web-app>